<a href="https://colab.research.google.com/github/Kanchanasud/My-Performance/blob/main/games.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/Area0')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/drive/MyDrive/Area0

#Dataset

https://www.kaggle.com/datasets/arnabchaki/popular-video-games-1980-2023?SELECT=GAMES.CSV&fbclid=IwAR0nZBKL5XTYesZ6MCnWZ9sHiXKjllqiD2IZBXrgPZMrsM69qCJpcMsnm94

##Data Description

#Open CSV file

In [4]:
#open CSV file 
import pandas as pd

In [6]:
games_data = pd.read_csv('games.csv')
print(games_data.shape) #  shown number of (row, column)
games_data.head()

(1512, 14)

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

#Data Cleaning

In [7]:
games_data.columns #check columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist'],
      dtype='object')

##Missing/Null Checking

In [10]:
games_data.isnull().any() #check missing , True = NaN , False = Not NaN

Unnamed: 0           False
Title                False
Release Date         False
Team                  True
Rating                True
Times Listed         False
Number of Reviews    False
Genres               False
Summary               True
Reviews              False
Plays                False
Playing              False
Backlogs             False
Wishlist             False
dtype: bool

In [11]:
games_data.dtypes #check data type

Unnamed: 0             int64
Title                 object
Release Date          object
Team                  object
Rating               float64
Times Listed          object
Number of Reviews     object
Genres                object
Summary               object
Reviews               object
Plays                 object
Playing               object
Backlogs              object
Wishlist              object
dtype: object

### ลบ Missing/Null จากคอลัมน์ Team

In [12]:
# Team  เรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Team'].isnull()]

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
1245,1245,NEET Girl Date Night,"Oct 21, 2022",NaN,2.7,21,21,['Visual Novel'],Your friend sets you up on a date with his NEE...,"['this sucked. ""Omg she is literally me"" is no...",106,1,44,42

In [76]:
games_data.dropna(subset=['Team'], inplace=True)  #ใช้ dropna ในการลบค่า Null ออกจาก DataFrame เพราะ ข้อมูลเป็นตัวอักษรและไม่ได้ใช้ในการวิเคราะห์
games_data.dropna

<bound method DataFrame.dropna of       Unnamed: 0                                    Title  Release Date  \
0              0                               Elden Ring  Feb 25, 2022
1              1                                    Hades  Dec 10, 2019
2              2  The Legend of Zelda: Breath of the Wild  Mar 03, 2017
3              3                                Undertale  Sep 15, 2015
4              4                            Hollow Knight  Feb 24, 2017
...          ...                                      ...           ...
1507        1507             Back to the Future: The Game  Dec 22, 2010
1508        1508                        Team Sonic Racing  May 21, 2019
1509        1509                           Dragon's Dogma  May 22, 2012
1510        1510                          Baldur's Gate 3  Oct 06, 2020
1511        1511                 The LEGO Movie Videogame  Feb 04, 2014

                                                   Team  Rating Times Listed  \
0        ['Bandai Namco Entertainment', 'FromSoftware']     4.5         3.9K
1                                  ['Supergiant Games']     4.3         2.9K
2     ['Nintendo', 'Nintendo EPD Production Group No...     4.4         4.3K
3                                    ['tobyfox', '8-4']     4.2         3.5K
4                                       ['Team Cherry']     4.4           3K
...                                                 ...     ...          ...
1507                                 ['Telltale Games']     3.2           94
1508                           ['Sumo Digital', 'Sega']     2.9          264
1509                                         ['Capcom']     3.7          210
1510                                 ['Larian Studios']     4.1          165
1511                          ['WB Games', 'TT Fusion']     2.8          184

     Number of Reviews                                             Genres  \
0                 3.9K                               ['Adventure', 'RPG']
1                 2.9K           ['Adventure', 'Brawler', 'Indie', 'RPG']
2                 4.3K                               ['Adventure', 'RPG']
3                 3.5K  ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                   3K                 ['Adventure', 'Indie', 'Platform']
...                ...                                                ...
1507                94                   ['Adventure', 'Point-and-Click']
1508               264                               ['Arcade', 'Racing']
1509               210                                 ['Brawler', 'RPG']
1510               165  ['Adventure', 'RPG', 'Strategy', 'Tactical', '...
1511               184                            ['Adventure', 'Puzzle']

                                                Summary  \
0     Elden Ring is a fantasy, action and open world...
1     A rogue-lite hack and slash dungeon crawler in...
2     The Legend of Zelda: Breath of the Wild is the...
3     A small child falls into the Underground, wher...
4     A 2D metroidvania with an emphasis on close co...
...                                                 ...
1507  Back to the Future: The Game is one of Telltal...
1508  Team Sonic Racing combines the best elements o...
1509  Set in a huge open world, Dragon’s Dogma: Dark...
1510  An ancient evil has returned to Baldur's Gate,...
1511  Join Emmet and an unlikely group of resistance...

                                                Reviews Plays Playing  \
0     ["The first playthrough of elden ring is one o...   17K    3.8K
1     ['convinced this is a roguelike for people who...   21K    3.2K
2     ['This game is the game (that is not CS:GO) th...   30K    2.5K
3     ['soundtrack is tied for #1 with nier automata...   28K     679
4     ["this games worldbuilding is incredible, with...   21K    2.4K
...                                                 ...   ...     ...
1507  ['Very enjoyable game. The story adds onto the...   763       5
1508  ['jogo morto mas bom', 'not my cup of tea', "C...  1.5K      49
1509  ['Underrated.', 'A grandes rasgos, es como un ...  1.1K      45
1510  ['Bu türe bu oyunla girmeye çalışmak hataydı s...   269      79
1511  ['Legal', 'Pretty Average Lego Game But It Was...  1.7K      11

     Backlogs Wishlist
0        4.6K     4.8K
1        6.3K     3.6K
2          5K     2.6K
3        4.9K     1.8K
4        8.3K     2.3K
...       ...      ...
1507      223       67
1508      413      107
1509      487      206
1510      388      602
1511      239       73

[1511 rows x 14 columns]>

In [77]:
games_data[games_data['Team'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Title, Release Date, Team, Rating, Times Listed, Number of Reviews, Genres, Summary, Reviews, Plays, Playing, Backlogs, Wishlist]
Index: []

In [78]:
games_data.isnull().any() #check missing , True = NaN , False = Not NaN

Unnamed: 0           False
Title                False
Release Date         False
Team                 False
Rating                True
Times Listed         False
Number of Reviews    False
Genres               False
Summary               True
Reviews              False
Plays                False
Playing              False
Backlogs             False
Wishlist             False
dtype: bool

### ลบ Missing/Null จากคอลัมน์ Rating

In [79]:
# Ratingเรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Rating'].isnull()]

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
587,587,Final Fantasy XVI,"Jun 22, 2023","['Square Enix', 'Square Enix Creative Business...",NaN,422,422,['RPG'],Final Fantasy XVI is an upcoming action role-p...,[],37,10,732,2.4K
649,649,Death Stranding 2,releases on TBD,['Kojima Productions'],NaN,105,105,"['Adventure', 'Shooter']",NaN,[],3,0,209,644
713,713,Final Fantasy VII Rebirth,"Dec 31, 2023",['Square Enix'],NaN,192,192,[],This next standalone chapter in the FINAL FANT...,[],20,3,354,1.1K
719,719,Lies of P,"Aug 01, 2023","['NEOWIZ', 'Round8 Studio']",NaN,175,175,['RPG'],"Inspired by the familiar story of Pinocchio, L...",[],5,0,260,939
726,726,Judas,"Mar 31, 2025",['Ghost Story Games'],NaN,90,90,"['Adventure', 'Shooter']",A disintegrating starship. A desperate escape ...,[],1,0,92,437
746,746,Like a Dragon Gaiden: The Man Who Erased His Name,"Dec 31, 2023","['Ryū Ga Gotoku Studios', 'Sega']",NaN,118,118,"['Adventure', 'Brawler', 'RPG']",This game covers Kiryu's story between Yakuza ...,[],2,1,145,588
972,972,The Legend of Zelda: Tears of the Kingdom,"May 12, 2023","['Nintendo', 'Nintendo EPD Production Group No...",NaN,581,581,"['Adventure', 'RPG']",The Legend of Zelda: Tears of the Kingdom is t...,[],72,6,1.6K,5.4K
1130,1130,Star Wars Jedi: Survivor,"Apr 28, 2023","['Respawn Entertainment', 'Electronic Arts']",NaN,250,250,['Adventure'],The story of Cal Kestis continues in Star Wars...,[],13,2,367,1.4K
1160,1160,We Love Katamari Reroll + Royal Reverie,"Jun 02, 2023","['Bandai Namco Entertainment', 'MONKEYCRAFT Co...",NaN,51,51,"['Adventure', 'Puzzle']",We Love Katamari Reroll + Royal Reverie is a r...,[],3,0,74,291
1202,1202,Earthblade,"Dec 31, 2024",['Extremely OK Games'],NaN,83,83,"['Adventure', 'Indie', 'RPG']","You are Névoa, an enigmatic child of Fate retu...",[],0,1,103,529
1305,1305,Diablo IV,"Jun 06, 2023",['Blizzard Entertainment'],NaN,148,148,"['Brawler', 'RPG']",Endless demons to slaughter. Deep customizatio...,[],19,10,179,677
1341,1341,Pac-Man in a Tin,"Mar 22, 2023",['Fizz Creations'],NaN,0,0,['Arcade'],Pac-Man in a Tin is a pocket-sized tin contain...,[],1,0,1,2
1349,1349,Pokémon Añil,"Mar 23, 2023",['Eric Lost'],NaN,2,2,['RPG'],Pokémon Añil is the fourth video game created ...,"['pokemon HWHAT', 'Finally, after all these ye...",1,0,1,7

In [83]:
# คำนวณค่าเฉลี่ยของข้อมูลที่มีอยู่แล้วในช่อง Rating เพราะ Rating เป็นข้อมูลตัวเลขที่จะนำมาใช้ในการวิเคราะดังนั้นการเอาค่าเฉลี่ยของขอมูลมาใส่ในช่อง NaN จึงเป็นหนึ่งในวิธีที่จะไม่ทำให้ตัวชุดข้อมูลเบี่ยงเบนมาก
Rating_mean =  round(games_data['Rating'].mean()) #เป็นฟังก์ชันที่ใช้สำหรับปัดเศษทศนิยมของตัวเลข เพื่อให้เหมาะสมกับรูปแบบที่ต้องการ 
# แทนค่าว่างด้วยค่าเฉลี่ย
games_data['Rating'].fillna(Rating_mean, inplace=True)

In [84]:
Rating_clean = games_data #สร้างตัวแปรใหม่มารองรับ
Rating_clean.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [85]:
# Rating เรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Rating'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Title, Release Date, Team, Rating, Times Listed, Number of Reviews, Genres, Summary, Reviews, Plays, Playing, Backlogs, Wishlist]
Index: []

In [86]:
games_data.isnull().any() #check missing อีกรอบ , True = NaN , False = Not NaN

Unnamed: 0           False
Title                False
Release Date         False
Team                 False
Rating               False
Times Listed         False
Number of Reviews    False
Genres               False
Summary               True
Reviews              False
Plays                False
Playing              False
Backlogs             False
Wishlist             False
dtype: bool

ลบ Missing/Null จากคอลัมน์ Summary

In [87]:
# Summaryเรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Summary'].isnull()]

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
649,649,Death Stranding 2,releases on TBD,['Kojima Productions'],4.0,105,105,"['Adventure', 'Shooter']",NaN,[],3,0,209,644

In [88]:
games_data.dropna(subset=['Summary'], inplace=True)  #ใช้ dropna ในการลบค่า Null ออกจาก DataFrame เพราะ ข้อมูลเป็นตัวอักษรและไม่ได้ใช้ในการวิเคราะห์
games_data.dropna

<bound method DataFrame.dropna of       Unnamed: 0                                    Title  Release Date  \
0              0                               Elden Ring  Feb 25, 2022
1              1                                    Hades  Dec 10, 2019
2              2  The Legend of Zelda: Breath of the Wild  Mar 03, 2017
3              3                                Undertale  Sep 15, 2015
4              4                            Hollow Knight  Feb 24, 2017
...          ...                                      ...           ...
1507        1507             Back to the Future: The Game  Dec 22, 2010
1508        1508                        Team Sonic Racing  May 21, 2019
1509        1509                           Dragon's Dogma  May 22, 2012
1510        1510                          Baldur's Gate 3  Oct 06, 2020
1511        1511                 The LEGO Movie Videogame  Feb 04, 2014

                                                   Team  Rating Times Listed  \
0        ['Bandai Namco Entertainment', 'FromSoftware']     4.5         3.9K
1                                  ['Supergiant Games']     4.3         2.9K
2     ['Nintendo', 'Nintendo EPD Production Group No...     4.4         4.3K
3                                    ['tobyfox', '8-4']     4.2         3.5K
4                                       ['Team Cherry']     4.4           3K
...                                                 ...     ...          ...
1507                                 ['Telltale Games']     3.2           94
1508                           ['Sumo Digital', 'Sega']     2.9          264
1509                                         ['Capcom']     3.7          210
1510                                 ['Larian Studios']     4.1          165
1511                          ['WB Games', 'TT Fusion']     2.8          184

     Number of Reviews                                             Genres  \
0                 3.9K                               ['Adventure', 'RPG']
1                 2.9K           ['Adventure', 'Brawler', 'Indie', 'RPG']
2                 4.3K                               ['Adventure', 'RPG']
3                 3.5K  ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                   3K                 ['Adventure', 'Indie', 'Platform']
...                ...                                                ...
1507                94                   ['Adventure', 'Point-and-Click']
1508               264                               ['Arcade', 'Racing']
1509               210                                 ['Brawler', 'RPG']
1510               165  ['Adventure', 'RPG', 'Strategy', 'Tactical', '...
1511               184                            ['Adventure', 'Puzzle']

                                                Summary  \
0     Elden Ring is a fantasy, action and open world...
1     A rogue-lite hack and slash dungeon crawler in...
2     The Legend of Zelda: Breath of the Wild is the...
3     A small child falls into the Underground, wher...
4     A 2D metroidvania with an emphasis on close co...
...                                                 ...
1507  Back to the Future: The Game is one of Telltal...
1508  Team Sonic Racing combines the best elements o...
1509  Set in a huge open world, Dragon’s Dogma: Dark...
1510  An ancient evil has returned to Baldur's Gate,...
1511  Join Emmet and an unlikely group of resistance...

                                                Reviews Plays Playing  \
0     ["The first playthrough of elden ring is one o...   17K    3.8K
1     ['convinced this is a roguelike for people who...   21K    3.2K
2     ['This game is the game (that is not CS:GO) th...   30K    2.5K
3     ['soundtrack is tied for #1 with nier automata...   28K     679
4     ["this games worldbuilding is incredible, with...   21K    2.4K
...                                                 ...   ...     ...
1507  ['Very enjoyable game. The story adds onto the...   763       5
1508  ['jogo morto mas bom', 'not my cup of tea', "C...  1.5K      49
1509  ['Underrated.', 'A grandes rasgos, es como un ...  1.1K      45
1510  ['Bu türe bu oyunla girmeye çalışmak hataydı s...   269      79
1511  ['Legal', 'Pretty Average Lego Game But It Was...  1.7K      11

     Backlogs Wishlist
0        4.6K     4.8K
1        6.3K     3.6K
2          5K     2.6K
3        4.9K     1.8K
4        8.3K     2.3K
...       ...      ...
1507      223       67
1508      413      107
1509      487      206
1510      388      602
1511      239       73

[1510 rows x 14 columns]>

In [89]:
# Summaryเรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Summary'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Title, Release Date, Team, Rating, Times Listed, Number of Reviews, Genres, Summary, Reviews, Plays, Playing, Backlogs, Wishlist]
Index: []

In [90]:
games_data.isnull().any() #check missing อีกรอบ , True = NaN , False = Not NaN

Unnamed: 0           False
Title                False
Release Date         False
Team                 False
Rating               False
Times Listed         False
Number of Reviews    False
Genres               False
Summary              False
Reviews              False
Plays                False
Playing              False
Backlogs             False
Wishlist             False
dtype: bool

In [92]:
games_data.dtypes #check data type อีกรอบ

Unnamed: 0             int64
Title                 object
Release Date          object
Team                  object
Rating               float64
Times Listed          object
Number of Reviews     object
Genres                object
Summary               object
Reviews               object
Plays                 object
Playing               object
Backlogs              object
Wishlist              object
dtype: object

#วิเคราะห์หาปัจจัยที่ทำให้เกมอยู่รอดถึงปัจจุบัน
- จะใช้ตัวคอลัมน์ Rating, Number of Reviews, Genres, Plays, Playing, Backlogs และ Wishlist

###เปลี่ยนชนิดข้อมูลจากคอลัมน์ Genres, Plays, Playing, Backlogs และ Wishlist จาก object ให้เป็น int