<a href="https://colab.research.google.com/github/Kanchanasud/My-Performance/blob/main/games.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [175]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [176]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/Area0')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/drive/MyDrive/Area0

#Dataset

https://www.kaggle.com/datasets/arnabchaki/popular-video-games-1980-2023?SELECT=GAMES.CSV&fbclid=IwAR0nZBKL5XTYesZ6MCnWZ9sHiXKjllqiD2IZBXrgPZMrsM69qCJpcMsnm94

##Data Description

#Open CSV file

In [177]:
#open CSV file 
import pandas as pd

In [178]:
games_data = pd.read_csv('games.csv')
print(games_data.shape) #  shown number of (row, column)
games_data.head()

(1512, 14)

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

#Data Cleaning

In [179]:
games_data.columns #check columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist'],
      dtype='object')

##Missing/Null Checking

In [180]:
games_data.isnull().any() #check missing , True = NaN , False = Not NaN

Unnamed: 0           False
Title                False
Release Date         False
Team                  True
Rating                True
Times Listed         False
Number of Reviews    False
Genres               False
Summary               True
Reviews              False
Plays                False
Playing              False
Backlogs             False
Wishlist             False
dtype: bool

In [181]:
games_data.dtypes #check data type

Unnamed: 0             int64
Title                 object
Release Date          object
Team                  object
Rating               float64
Times Listed          object
Number of Reviews     object
Genres                object
Summary               object
Reviews               object
Plays                 object
Playing               object
Backlogs              object
Wishlist              object
dtype: object

### ลบ Missing/Null จากคอลัมน์ Team

In [182]:
# Team  เรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Team'].isnull()]

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
1245,1245,NEET Girl Date Night,"Oct 21, 2022",NaN,2.7,21,21,['Visual Novel'],Your friend sets you up on a date with his NEE...,"['this sucked. ""Omg she is literally me"" is no...",106,1,44,42

In [183]:
games_data.dropna(subset=['Team'], inplace=True)  #ใช้ dropna ในการลบค่า Null ออกจาก DataFrame เพราะ ข้อมูลเป็นตัวอักษรและไม่ได้ใช้ในการวิเคราะห์
games_data.dropna

<bound method DataFrame.dropna of       Unnamed: 0                                    Title  Release Date  \
0              0                               Elden Ring  Feb 25, 2022
1              1                                    Hades  Dec 10, 2019
2              2  The Legend of Zelda: Breath of the Wild  Mar 03, 2017
3              3                                Undertale  Sep 15, 2015
4              4                            Hollow Knight  Feb 24, 2017
...          ...                                      ...           ...
1507        1507             Back to the Future: The Game  Dec 22, 2010
1508        1508                        Team Sonic Racing  May 21, 2019
1509        1509                           Dragon's Dogma  May 22, 2012
1510        1510                          Baldur's Gate 3  Oct 06, 2020
1511        1511                 The LEGO Movie Videogame  Feb 04, 2014

                                                   Team  Rating Times Listed  \
0        ['Bandai Namco Entertainment', 'FromSoftware']     4.5         3.9K
1                                  ['Supergiant Games']     4.3         2.9K
2     ['Nintendo', 'Nintendo EPD Production Group No...     4.4         4.3K
3                                    ['tobyfox', '8-4']     4.2         3.5K
4                                       ['Team Cherry']     4.4           3K
...                                                 ...     ...          ...
1507                                 ['Telltale Games']     3.2           94
1508                           ['Sumo Digital', 'Sega']     2.9          264
1509                                         ['Capcom']     3.7          210
1510                                 ['Larian Studios']     4.1          165
1511                          ['WB Games', 'TT Fusion']     2.8          184

     Number of Reviews                                             Genres  \
0                 3.9K                               ['Adventure', 'RPG']
1                 2.9K           ['Adventure', 'Brawler', 'Indie', 'RPG']
2                 4.3K                               ['Adventure', 'RPG']
3                 3.5K  ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                   3K                 ['Adventure', 'Indie', 'Platform']
...                ...                                                ...
1507                94                   ['Adventure', 'Point-and-Click']
1508               264                               ['Arcade', 'Racing']
1509               210                                 ['Brawler', 'RPG']
1510               165  ['Adventure', 'RPG', 'Strategy', 'Tactical', '...
1511               184                            ['Adventure', 'Puzzle']

                                                Summary  \
0     Elden Ring is a fantasy, action and open world...
1     A rogue-lite hack and slash dungeon crawler in...
2     The Legend of Zelda: Breath of the Wild is the...
3     A small child falls into the Underground, wher...
4     A 2D metroidvania with an emphasis on close co...
...                                                 ...
1507  Back to the Future: The Game is one of Telltal...
1508  Team Sonic Racing combines the best elements o...
1509  Set in a huge open world, Dragon’s Dogma: Dark...
1510  An ancient evil has returned to Baldur's Gate,...
1511  Join Emmet and an unlikely group of resistance...

                                                Reviews Plays Playing  \
0     ["The first playthrough of elden ring is one o...   17K    3.8K
1     ['convinced this is a roguelike for people who...   21K    3.2K
2     ['This game is the game (that is not CS:GO) th...   30K    2.5K
3     ['soundtrack is tied for #1 with nier automata...   28K     679
4     ["this games worldbuilding is incredible, with...   21K    2.4K
...                                                 ...   ...     ...
1507  ['Very enjoyable game. The story adds onto the...   763       5
1508  ['jogo morto mas bom', 'not my cup of tea', "C...  1.5K      49
1509  ['Underrated.', 'A grandes rasgos, es como un ...  1.1K      45
1510  ['Bu türe bu oyunla girmeye çalışmak hataydı s...   269      79
1511  ['Legal', 'Pretty Average Lego Game But It Was...  1.7K      11

     Backlogs Wishlist
0        4.6K     4.8K
1        6.3K     3.6K
2          5K     2.6K
3        4.9K     1.8K
4        8.3K     2.3K
...       ...      ...
1507      223       67
1508      413      107
1509      487      206
1510      388      602
1511      239       73

[1511 rows x 14 columns]>

In [184]:
games_data[games_data['Team'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Title, Release Date, Team, Rating, Times Listed, Number of Reviews, Genres, Summary, Reviews, Plays, Playing, Backlogs, Wishlist]
Index: []

In [185]:
games_data.isnull().any() #check missing , True = NaN , False = Not NaN

Unnamed: 0           False
Title                False
Release Date         False
Team                 False
Rating                True
Times Listed         False
Number of Reviews    False
Genres               False
Summary               True
Reviews              False
Plays                False
Playing              False
Backlogs             False
Wishlist             False
dtype: bool

### ลบ Missing/Null จากคอลัมน์ Rating

In [186]:
# Ratingเรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Rating'].isnull()]

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
587,587,Final Fantasy XVI,"Jun 22, 2023","['Square Enix', 'Square Enix Creative Business...",NaN,422,422,['RPG'],Final Fantasy XVI is an upcoming action role-p...,[],37,10,732,2.4K
649,649,Death Stranding 2,releases on TBD,['Kojima Productions'],NaN,105,105,"['Adventure', 'Shooter']",NaN,[],3,0,209,644
713,713,Final Fantasy VII Rebirth,"Dec 31, 2023",['Square Enix'],NaN,192,192,[],This next standalone chapter in the FINAL FANT...,[],20,3,354,1.1K
719,719,Lies of P,"Aug 01, 2023","['NEOWIZ', 'Round8 Studio']",NaN,175,175,['RPG'],"Inspired by the familiar story of Pinocchio, L...",[],5,0,260,939
726,726,Judas,"Mar 31, 2025",['Ghost Story Games'],NaN,90,90,"['Adventure', 'Shooter']",A disintegrating starship. A desperate escape ...,[],1,0,92,437
746,746,Like a Dragon Gaiden: The Man Who Erased His Name,"Dec 31, 2023","['Ryū Ga Gotoku Studios', 'Sega']",NaN,118,118,"['Adventure', 'Brawler', 'RPG']",This game covers Kiryu's story between Yakuza ...,[],2,1,145,588
972,972,The Legend of Zelda: Tears of the Kingdom,"May 12, 2023","['Nintendo', 'Nintendo EPD Production Group No...",NaN,581,581,"['Adventure', 'RPG']",The Legend of Zelda: Tears of the Kingdom is t...,[],72,6,1.6K,5.4K
1130,1130,Star Wars Jedi: Survivor,"Apr 28, 2023","['Respawn Entertainment', 'Electronic Arts']",NaN,250,250,['Adventure'],The story of Cal Kestis continues in Star Wars...,[],13,2,367,1.4K
1160,1160,We Love Katamari Reroll + Royal Reverie,"Jun 02, 2023","['Bandai Namco Entertainment', 'MONKEYCRAFT Co...",NaN,51,51,"['Adventure', 'Puzzle']",We Love Katamari Reroll + Royal Reverie is a r...,[],3,0,74,291
1202,1202,Earthblade,"Dec 31, 2024",['Extremely OK Games'],NaN,83,83,"['Adventure', 'Indie', 'RPG']","You are Névoa, an enigmatic child of Fate retu...",[],0,1,103,529
1305,1305,Diablo IV,"Jun 06, 2023",['Blizzard Entertainment'],NaN,148,148,"['Brawler', 'RPG']",Endless demons to slaughter. Deep customizatio...,[],19,10,179,677
1341,1341,Pac-Man in a Tin,"Mar 22, 2023",['Fizz Creations'],NaN,0,0,['Arcade'],Pac-Man in a Tin is a pocket-sized tin contain...,[],1,0,1,2
1349,1349,Pokémon Añil,"Mar 23, 2023",['Eric Lost'],NaN,2,2,['RPG'],Pokémon Añil is the fourth video game created ...,"['pokemon HWHAT', 'Finally, after all these ye...",1,0,1,7

In [187]:
# คำนวณค่าเฉลี่ยของข้อมูลที่มีอยู่แล้วในช่อง Rating เพราะ Rating เป็นข้อมูลตัวเลขที่จะนำมาใช้ในการวิเคราะดังนั้นการเอาค่าเฉลี่ยของขอมูลมาใส่ในช่อง NaN จึงเป็นหนึ่งในวิธีที่จะไม่ทำให้ตัวชุดข้อมูลเบี่ยงเบนมาก
Rating_mean =  round(games_data['Rating'].mean()) #เป็นฟังก์ชันที่ใช้สำหรับปัดเศษทศนิยมของตัวเลข เพื่อให้เหมาะสมกับรูปแบบที่ต้องการ 
# แทนค่าว่างด้วยค่าเฉลี่ย
games_data['Rating'].fillna(Rating_mean, inplace=True)

In [188]:
Rating_clean = games_data #สร้างตัวแปรใหม่มารองรับ
Rating_clean.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [189]:
# Rating เรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Rating'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Title, Release Date, Team, Rating, Times Listed, Number of Reviews, Genres, Summary, Reviews, Plays, Playing, Backlogs, Wishlist]
Index: []

In [190]:
games_data.isnull().any() #check missing อีกรอบ , True = NaN , False = Not NaN

Unnamed: 0           False
Title                False
Release Date         False
Team                 False
Rating               False
Times Listed         False
Number of Reviews    False
Genres               False
Summary               True
Reviews              False
Plays                False
Playing              False
Backlogs             False
Wishlist             False
dtype: bool

ลบ Missing/Null จากคอลัมน์ Summary

In [191]:
# Summaryเรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Summary'].isnull()]

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
649,649,Death Stranding 2,releases on TBD,['Kojima Productions'],4.0,105,105,"['Adventure', 'Shooter']",NaN,[],3,0,209,644

In [192]:
games_data.dropna(subset=['Summary'], inplace=True)  #ใช้ dropna ในการลบค่า Null ออกจาก DataFrame เพราะ ข้อมูลเป็นตัวอักษรและไม่ได้ใช้ในการวิเคราะห์
games_data.dropna

<bound method DataFrame.dropna of       Unnamed: 0                                    Title  Release Date  \
0              0                               Elden Ring  Feb 25, 2022
1              1                                    Hades  Dec 10, 2019
2              2  The Legend of Zelda: Breath of the Wild  Mar 03, 2017
3              3                                Undertale  Sep 15, 2015
4              4                            Hollow Knight  Feb 24, 2017
...          ...                                      ...           ...
1507        1507             Back to the Future: The Game  Dec 22, 2010
1508        1508                        Team Sonic Racing  May 21, 2019
1509        1509                           Dragon's Dogma  May 22, 2012
1510        1510                          Baldur's Gate 3  Oct 06, 2020
1511        1511                 The LEGO Movie Videogame  Feb 04, 2014

                                                   Team  Rating Times Listed  \
0        ['Bandai Namco Entertainment', 'FromSoftware']     4.5         3.9K
1                                  ['Supergiant Games']     4.3         2.9K
2     ['Nintendo', 'Nintendo EPD Production Group No...     4.4         4.3K
3                                    ['tobyfox', '8-4']     4.2         3.5K
4                                       ['Team Cherry']     4.4           3K
...                                                 ...     ...          ...
1507                                 ['Telltale Games']     3.2           94
1508                           ['Sumo Digital', 'Sega']     2.9          264
1509                                         ['Capcom']     3.7          210
1510                                 ['Larian Studios']     4.1          165
1511                          ['WB Games', 'TT Fusion']     2.8          184

     Number of Reviews                                             Genres  \
0                 3.9K                               ['Adventure', 'RPG']
1                 2.9K           ['Adventure', 'Brawler', 'Indie', 'RPG']
2                 4.3K                               ['Adventure', 'RPG']
3                 3.5K  ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                   3K                 ['Adventure', 'Indie', 'Platform']
...                ...                                                ...
1507                94                   ['Adventure', 'Point-and-Click']
1508               264                               ['Arcade', 'Racing']
1509               210                                 ['Brawler', 'RPG']
1510               165  ['Adventure', 'RPG', 'Strategy', 'Tactical', '...
1511               184                            ['Adventure', 'Puzzle']

                                                Summary  \
0     Elden Ring is a fantasy, action and open world...
1     A rogue-lite hack and slash dungeon crawler in...
2     The Legend of Zelda: Breath of the Wild is the...
3     A small child falls into the Underground, wher...
4     A 2D metroidvania with an emphasis on close co...
...                                                 ...
1507  Back to the Future: The Game is one of Telltal...
1508  Team Sonic Racing combines the best elements o...
1509  Set in a huge open world, Dragon’s Dogma: Dark...
1510  An ancient evil has returned to Baldur's Gate,...
1511  Join Emmet and an unlikely group of resistance...

                                                Reviews Plays Playing  \
0     ["The first playthrough of elden ring is one o...   17K    3.8K
1     ['convinced this is a roguelike for people who...   21K    3.2K
2     ['This game is the game (that is not CS:GO) th...   30K    2.5K
3     ['soundtrack is tied for #1 with nier automata...   28K     679
4     ["this games worldbuilding is incredible, with...   21K    2.4K
...                                                 ...   ...     ...
1507  ['Very enjoyable game. The story adds onto the...   763       5
1508  ['jogo morto mas bom', 'not my cup of tea', "C...  1.5K      49
1509  ['Underrated.', 'A grandes rasgos, es como un ...  1.1K      45
1510  ['Bu türe bu oyunla girmeye çalışmak hataydı s...   269      79
1511  ['Legal', 'Pretty Average Lego Game But It Was...  1.7K      11

     Backlogs Wishlist
0        4.6K     4.8K
1        6.3K     3.6K
2          5K     2.6K
3        4.9K     1.8K
4        8.3K     2.3K
...       ...      ...
1507      223       67
1508      413      107
1509      487      206
1510      388      602
1511      239       73

[1510 rows x 14 columns]>

In [193]:
# Summaryเรียกเฉพาะคอลัมน์เพื่อดูค่า NaN
games_data[games_data['Summary'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Title, Release Date, Team, Rating, Times Listed, Number of Reviews, Genres, Summary, Reviews, Plays, Playing, Backlogs, Wishlist]
Index: []

In [194]:
games_data.isnull().any() #check missing อีกรอบ , True = NaN , False = Not NaN

Unnamed: 0           False
Title                False
Release Date         False
Team                 False
Rating               False
Times Listed         False
Number of Reviews    False
Genres               False
Summary              False
Reviews              False
Plays                False
Playing              False
Backlogs             False
Wishlist             False
dtype: bool

In [195]:
games_data.dtypes #check data type อีกรอบ

Unnamed: 0             int64
Title                 object
Release Date          object
Team                  object
Rating               float64
Times Listed          object
Number of Reviews     object
Genres                object
Summary               object
Reviews               object
Plays                 object
Playing               object
Backlogs              object
Wishlist              object
dtype: object

# วิธีอื่น

In [240]:
games_data.columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist'],
      dtype='object')

In [328]:
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

feature_cols = ['Title',
       'Number of Reviews','Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist']

X = games_data[feature_cols] # Features
y = games_data['Rating'] # Target variable

# แปลงคอลัมน์ 'Rating' เป็นจำนวนเต็ม
y = games_data['Rating'].astype(int)

#X = (X['Times Listed']).astype(int)
#X['Times Listed '] = label_encoder.fit_transform(X['Times Listed'])

# แปลงตัวแปรที่เป็นหมวดหมู่เป็นตัวเลข
label_encoder = LabelEncoder()
X['Title'] = label_encoder.fit_transform(X['Title'])
#X['Team '] = label_encoder.fit_transform(X['Team'])
#X['Times Listed '] = label_encoder.fit_transform(X['Times Listed'])
X['Number of Reviews'] = label_encoder.fit_transform(X['Number of Reviews'])
X['Summary'] = label_encoder.fit_transform(X['Summary'])
X['Reviews'] = label_encoder.fit_transform(X['Reviews'])
X['Plays'] = label_encoder.fit_transform(X['Plays'])
X['Playing'] = label_encoder.fit_transform(X['Playing'])
X['Backlogs'] = label_encoder.fit_transform(X['Backlogs'])
X['Wishlist'] = label_encoder.fit_transform(X['Wishlist'])

<ipython-input-328-93ed9fa8f48e>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Title'] = label_encoder.fit_transform(X['Title'])
<ipython-input-328-93ed9fa8f48e>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Number of Reviews'] = label_encoder.fit_transform(X['Number of Reviews'])
<ipython-input-328-93ed9fa8f48e>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Summary'] = label_encoder.fit_transform(X['Summary'])
<ipython-input-328-93ed9fa8f48e>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Reviews'] = label_encoder.fit_transform(X['Reviews'])
<ipython-input-328-93ed9fa8f48e>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Plays'] = label_encoder.fit_transform(X['Plays'])
<ipython-input-328-93ed9fa8f48e>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Playing'] = label_encoder.fit_transform(X['Playing'])
<ipython-input-328-93ed9fa8f48e>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Backlogs'] = label_encoder.fit_transform(X['Backlogs'])
<ipython-input-328-93ed9fa8f48e>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Wishlist'] = label_encoder.fit_transform(X['Wishlist'])

In [329]:
X.head()

,Title,Number of Reviews,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,250,183,292,207,28,179,218,266
1,375,98,56,910,53,178,358,191
2,970,268,895,814,88,105,354,104
3,1037,182,67,1054,71,328,221,7
4,402,267,18,304,53,104,462,101

In [330]:
y.head()

0    4
1    4
2    4
3    4
4    4
Name: Rating, dtype: int64

#Naive Bayes

In [331]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create Naive Bayes classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(X_train, y_train)

# Predict the target variable on the test data
y_pred = model.predict(X_test)

# Calculate the accuracy score
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy of Naive Bayes classifier: {accuracy:.2%}")

Accuracy of Naive Bayes classifier: 57.95%

#Decision Tree Classifier

In [332]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# train_test_split จะใช้สุ่มแบ่ง X และ y เป็นชุดข้อมูลฝึกและชุดข้อมูลทดสอบ
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True) #test_size=0.2 คือ 20% 
#กำหนด test_size เป็น 0.2 และกำหนด random_state เป็น 42 เพื่อให้การแบ่งชุดข้อมูลสามารถทำซ้ำได้และ shuffle เป็น True เพื่อสลับลำดับข้อมูลก่อนแบ่งชุด

#สร้างตัวแบบ Decision Tree Classifier
clf = DecisionTreeClassifier(random_state=42)

# ฝึกโมเดล (training) ด้วยชุดข้อมูลสำหรับการฝึก
clf.fit(X_train, y_train)

# Predict the target variable on the test data
y_pred = clf.predict(X_test)

# คำนวณค่าความแม่นยำ
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy of decision tree classifier: {accuracy:.2%}")

Accuracy of decision tree classifier: 69.87%

#KNN

In [334]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

# Create KNN Classifier
knn = KNeighborsClassifier()

# Define parameter grid for k
param_grid = {'n_neighbors': range(1, 30)}

# Use GridSearchCV or RandomizedSearchCV to find the best value of k
grid_search = GridSearchCV(knn, param_grid, cv=5)
# or grid_search = RandomizedSearchCV(knn, param_grid, cv=5)

# Fit the grid search object to the data
grid_search.fit(X, y)

print("Best value of k found: ", grid_search.best_params_['n_neighbors'])

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best value of k found:  1

In [335]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Split dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True) 

# Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=1)

# Train the model using the training sets
knn.fit(X_train, y_train)

# Predict the response for test dataset
y_pred = knn.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy of KNN classifier: {accuracy:.2%}")

Accuracy of KNN classifier: 65.23%

In [336]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

# Scale the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define the parameter grid
param_grid = {
    'n_neighbors': np.arange(1, 21),
    'weights': ['uniform', 'distance'],
    'metric': ['euclidean', 'manhattan', 'minkowski']
}

# Create a KNN classifier
knn = KNeighborsClassifier()

# Create a GridSearchCV object
cv = KFold(n_splits=10, shuffle=True, random_state=42)
grid_search = GridSearchCV(knn, param_grid, cv=cv, scoring='accuracy')

# Fit the GridSearchCV object to the data
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and the mean cross-validated score
print("Best hyperparameters:", grid_search.best_params_)
print(f"Mean cross-validated accuracy score: {grid_search.best_score_:.2%}")

# Instantiate the classifier with the best hyperparameters found in the grid search
knn = KNeighborsClassifier(**grid_search.best_params_)

# Train the classifier using the training data
knn.fit(X_train, y_train)

# Predict the response for the test dataset
y_pred = knn.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

print(f"Accuracy of KNN classifier: {accuracy:.2%}")

Best hyperparameters: {'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'distance'}
Mean cross-validated accuracy score: 72.10%
Accuracy of KNN classifier: 70.86%

#Precision, Recall และ F1-Score

In [337]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score

# แบ่งข้อมูลเป็น training set และ testing set ด้วยสัดส่วน 80:20
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# สร้าง KNN Classifier object และกำหนด k=10
knn = KNeighborsClassifier(n_neighbors=10)

# Train KNN Classifier ด้วย training data
knn.fit(X_train, y_train)

# ทำนาย class ของ testing data
y_pred = knn.predict(X_test)

# คำนวณค่า precision, recall, F1-score ของแต่ละ class
precision, recall, f1score, support = precision_recall_fscore_support(y_test, y_pred)

# แสดงผลค่า precision, recall, F1-score ของแต่ละ class

print("Precision of class 0: {:.2%}".format(precision[0]))
print("Precision of class 1: {:.2%}".format(precision[1]))

print("Recall of class 0: {:.2%}".format(recall[0]))
print("Recall of class 1: {:.2%}".format(recall[1]))

print("F1-score of class 0: {:.2%}".format(f1score[0]))
print("F1-score of class 1: {:.2%}".format(f1score[1]))

Precision of class 0: 0.00%
Precision of class 1: 0.00%
Recall of class 0: 0.00%
Recall of class 1: 0.00%
F1-score of class 0: 0.00%
F1-score of class 1: 0.00%

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))